<mat-card>
    <mat-card-header>
        <img mat-card-image [src]="imageSource" width="200" height="100"
        alt="picture of food">
    </mat-card-header>
    <mat-card-title-group>
        <mat-card-title class="card-title">{{recipe?.name}}</mat-card-title>
        <span *ngIf="recipe?.glutenFree">
            <mat-icon svgIcon="gluten_free" matTooltip="Gluten free"></mat-icon>
        </span>
        <span *ngIf="recipe?.dairyFree">
            <mat-icon svgIcon="dairy_free" matTooltip="Dairy free"></mat-icon>
        </span>
        <span *ngIf="recipe?.vegetarian">
            <mat-icon svgIcon="vegetarian" matTooltip="Vegetarian"></mat-icon>
        </span>
        <span *ngIf="recipe?.vegan">
            <mat-icon svgIcon="vegan" matTooltip="Vegan"></mat-icon>
        </span>
    </mat-card-title-group>
    <mat-divider></mat-divider>
    <hr />
    <mat-card-content>
        <p *ngFor="let ingredient of recipe?.ingredients;">
        {{ingredient.amount}} {{ingredient.ingredient}}
        </p>
        <mat-divider></mat-divider>
        <p>
            {{recipe?.description}}
        </p>
        <p *ngIf="isLoggedIn()">
        <button mat-button (click)="updateRecipe(recipe?.id)"> Update</button>
        </p>
    </mat-card-content>
</mat-card>