<mat-card>
  <mat-card-title>Ingredients</mat-card-title>
  <mat-card-content formArrayName="ingredients">
    <div *ngFor="let ingredient of ingredients.controls; let i = index">
      <table cellspacing="0">
        <tr>
          <td><mat-form-field>
              <mat-label>Amount</mat-label>
              <input matInput formControlName="amount">
            </mat-form-field></td>
          <td><mat-form-field>
              <mat-label>Ingredient</mat-label>
              <input matInput formControlName="ingredient" type="text" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                @for (option of savedIngredients; track option.name) {
                <mat-option [value]="option">{{option.name}}</mat-option>
                }
              </mat-autocomplete>
            </mat-form-field></td>
          <td><button mat-stroked-button (click)="deleteIngredient(i)"><mat-icon>delete</mat-icon></button>
          </td>
        </tr>
      </table>
    </div>
  </mat-card-content>
  <mat-card-actions align="start">
    <button (click)="addIngredient()"><mat-icon>add</mat-icon>Add ingredient</button>
  </mat-card-actions>
</mat-card>