<mat-toolbar>
  <div class="toolbar-list">
    <ul>
      <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
      </li>
      <li><a routerLink="/recipes" routerLinkActive="active" ariaCurrentWhenActive="page">Recipes</a>
      </li>
      <li *ngIf="isLoggedIn"><a routerLink="/ingredients" routerLinkActive="active" ariaCurrentWhenActive="page">Ingredients</a>
      </li>
      <li *ngIf="!isLoggedIn"><a routerLink="/registration" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a>
      </li>
      <li *ngIf="isLoggedIn; else loginLink;">
        <a (click)="logOut()" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"> Log out
        </a>
      </li>
      <ng-template #loginLink>
        <li>
          <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
        </li>
      </ng-template>
    </ul>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>