.toolbar-list {
    display: flex;
    align-items: center;
  }
  
  .toolbar-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .toolbar-list ul li {
    margin-right: 20px;
  }
  
  .toolbar-list ul li:last-child {
    margin-right: 0;
  }