.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    width: 300px;
    text-align: center;
  }
  
  .mat-card {
    padding: 20px;
  }
  
  .mat-card-actions {
    justify-content: center; 
  }
  
  button[mat-raised-button] {
    margin-top: 10px;
    margin-left: 65px;
    width: 150px;
  }
  
  button[mat-raised-button].mat-warn {
    color: #fff; 
  }
  
  