<mat-card class="recipe-card">
    <mat-card-header>
        <img mat-card-image [src]="imageSource" width="200" height="100"
         alt="picture of food"
         >
    </mat-card-header>
    <mat-card-title-group>
        <mat-card-title class="card-title">
            {{recipe.name}}
        </mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
        <span *ngIf="recipe?.isGlutenFree">
            <mat-icon matTooltip="Gluten free" svgIcon="gluten_free"></mat-icon>
        </span>
        <span *ngIf="recipe?.isVegan">
            <mat-icon matTooltip="Vegan" svgIcon="vegan"></mat-icon>
        </span>
        <span *ngIf="recipe?.isDairyFree">
            <mat-icon matTooltip="Dairy free" svgIcon="dairy_free"></mat-icon>
        </span>
        <span *ngIf="recipe?.isVegetarian">
            <mat-icon matTooltip="Vegetarian" svgIcon="vegetarian"></mat-icon>
        </span>
        <mat-card-actions>
            <button mat-button (click)="showDetails()"> Check it out</button>
        </mat-card-actions>
    </mat-card-content>

</mat-card>