<mat-card>
    <form class="recipeForm" [formGroup]="recipeForm">
        <app-file-upload (fileEvent)="addImage($event)"></app-file-upload>
        <mat-form-field class="full-width">
            <mat-label>Title: </mat-label>
            <input matInput type="text" formControlName="name" placeholder="Ex. Tiramisu">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Description: </mat-label>
            <textarea matInput type="textarea" formControlName="description" placeholder="Steps..."></textarea>
        </mat-form-field>
        <app-ingredient-adder></app-ingredient-adder>
        <button type="submit" (click)="submit">Submit recipe</button>
    </form>
</mat-card>