<mat-card class="ingredient-form-container">
  <form [formGroup]="ingredientForm" (ngSubmit)="submit()">
    <mat-form-field class="full-width">
      <mat-label>Ingredient Name</mat-label>
      <input matInput formControlName="name" placeholder="Ex. Sugar">
      <mat-error *ngIf="ingredientForm.controls['name'].hasError('required')">
        Ingredient name is required
      </mat-error>
    </mat-form-field>
    <mat-card-content>
      <mat-select formControlName="category">
        <mat-option *ngFor="let category of categories" [value]="category" >{{category}}</mat-option>
      </mat-select>
    </mat-card-content>
    <mat-card-content>
      Approved: 
      <mat-checkbox formControlName="approved"></mat-checkbox>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="primary" type="submit">Submit Ingredient</button>
    </mat-card-actions>
  </form>
</mat-card>
