<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="register()" class="register-form">
    <mat-card>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput type="text" formControlName="username" placeholder="Username">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" placeholder="Password">
          <mat-error *ngIf="registerForm.get('password')?.hasError('pattern')">
            Please choose a password that is at least 5 characters long.
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
