<nav>
  <ul>
    <li><a routerLink="/" routerLinkActive="active"
       ariaCurrentWhenActive="page">Home</a>
    </li>
    <li><a routerLink="/ingredients" routerLinkActive="active"
       ariaCurrentWhenActive="page">Ingredients</a>
    </li>
    <li><a routerLink="/registration" routerLinkActive="active"
      ariaCurrentWhenActive="page">Register </a>
   </li>
   <li><a routerLink="/login" routerLinkActive="active"
    ariaCurrentWhenActive="page">Login </a>
 </li>
  </ul>
</nav>
<router-outlet></router-outlet>